// Цвета
$primary: #b24d97;
$second: #319b66;
$success: #26c56f;
$error: #ff0000;
$color: #2f4152;
$border-radius: 0;

//Медиа-запросы
$screen-small: 480px;
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1250px;
