// Цвета
$primary: #CC2128;
$success: #26c56f;
$error: #FF0000;
$color: #000;
$border-radius: 0;

//Медиа-запросы
$screen-small: 480px;
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1250px;

