.footer {
  flex: 0 0 auto;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #ceebfb;
  text-align: center;
  font-size: 14px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__copyright {
    margin-bottom: 26px;
  }

  &__link {
    color: #1e4bd2;
    text-decoration: none;
  }
}
