.footer {
  flex: 0 0 auto;
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #ceebfb;
  text-align: center;
  font-size: 14px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__copyright {
    margin-bottom: 26px;
  }

  &__link {
    color: #1e4bd2;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    padding-top: 65px;
    padding-bottom: 80px;

    &__top {
      flex-direction: column;
      margin-bottom: 50px;
    }

    &__copyright {
      font-size: 12px;
      line-height: 140%;
    }
  }
}
