.header {
  width: 100%;
  margin-bottom: 183px;
  padding-top: 57px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    .leaf {
      fill: #b24d97;
    }
  }

  &__call {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    margin-bottom: 60px;
    padding-top: 45px;

    &__wrapper {
      flex-direction: column;
      justify-content: center;
    }
  }
}
