.header {
  width: 100%;
  margin-bottom: 183px;
  padding-top: 57px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    .leaf {
      fill: #b24d97;
    }
  }

  &__call {
    margin-top: 40px;
  }

  &__order {
  }
}
