.menu {
  &__wrapper {
    font-size: 0;
  }

  #paleo:checked ~ #paleo-content {
    display: block;
  }

  #aip:checked ~ #aip-content {
    display: block;
  }

  #five:checked ~ #five-content {
    display: block;
  }

  #vegan:checked ~ #vegan-content {
    display: block;
  }

  &__input:checked + .menu__label {
    background-color: $second;
    color: #fff;
    font-weight: 700;

    &:hover {
      background-color: $second;
      border-color: transparent;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 90px;
    padding: 29.5px 28px;
    border-radius: 50px 0;
    background-color: #ceebfb;
    border: 2px solid transparent;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    transition: border-color 0.3s, background-color 0.3s;

    &:hover {
      border-color: #ceebfb;
      background-color: transparent;
    }

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__content {
    display: none;
    font-size: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
  }

  &__image {
    margin-bottom: 14px;
  }

  &__name {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
  }

  &__text {
    font-size: 18px;
  }

  &__about {
    grid-column: 3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 50px;
    border: 6px dashed #ceebfb;
  }

  &__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }

  &__bottom {
    margin-top: auto;
  }

  &__kalorazh,
  &__price {
    font-size: 21px;
  }

  &__kalorazh {
    margin-bottom: 13px;
  }

  &__price {
    margin-bottom: 30px;
    font-weight: 700;
  }

  &__button {
    &:hover {
      color: $primary;
    }
  }
}
