.order-btn {
  display: inline-block;
  padding: 7.5px 21.5px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  &_white {
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #fff;
      border-color: $primary;
      background-color: $primary;
    }
  }

  &_primary {
    border-color: $primary;
    color: $primary;

    &:hover {
      color: $color;
      border-color: $color;
    }
  }
}
