.phone {
  display: inline-block;
  margin-right: 30px;
  font-size: 27px;
  font-weight: 700;
  text-decoration: none;
  color: $color;

  &:hover {
    color: $primary;
  }

  &_white {
    color: #fff;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
