.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/bg-promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;

  &__center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 72px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
  }

  &__order {
    margin-bottom: 85px;
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 173px;
  }

  &__feature {
    color: #fff;

    &-svg {
      margin-bottom: 10px;
      fill: #fff;
    }

    &-text {
      max-width: 223px;
      font-weight: 700;
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    &__text {
      font-size: 40px;
    }

    &__order {
      margin-bottom: 60px;
    }

    &__features {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &__feature {
      width: 50%;
      margin-bottom: 40px;

      &-text {
        font-size: 18px;
      }
    }
  }
}
