.section {
  padding: 110px 0;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-weight: 400;

    &_white {
      color: #fff;
    }
  }
}
